.Rproj.user
.Rhistory
.RData
.Ruserdata
.dropbox
desktop.ini
Rplots.pdf
SI.PhenoSuite.Color.Documentation-001.pdf
SI.PhenoSuite.Color.Documentation-002.pdf
SI.PhenoSuite.Color.Documentation-colourpies.pdf
SI.PhenoSuite.Color.Documentation-concordance.tex
SI.PhenoSuite.Color.Documentation-heatmaps.pdf
SI.PhenoSuite.Color.Documentation-histograms.pdf
SI.PhenoSuite.Color.Documentation.lof
SI.PhenoSuite.Color.Documentation.log
SI.PhenoSuite.Color.Documentation.pdf
SI.PhenoSuite.Color.Documentation.synctex.gz
SI.PhenoSuite.Color.Documentation.tex
colours_BrownTurquoise.csv
colours_Monochrome.csv
colours_PinkGreen.csv
colours_Plasma.csv
colours_PurpleGreen.csv
colours_PurpleOrange.csv
colours_PurpleRed.csv
colours_RedBlue.csv
colours_RedYellowBlue.csv
